<button class="btn col s12" onclick="Productos()" >Visualizar</button>

<script type="text/javascript">

function Productos(){
let productList= document.createElement('ul')

  const myHeaders = new Headers();
  myHeaders.append('authorization', `Bearer ${localStorage.token}`)

    fetch('/api/product',{
      method:'GET',
      headers: myHeaders
    })
    .then(res => res.json())
    .then(data => {
        data.products.map(product =>{
            var body = document.getElementsByTagName("body")[0];

        // create elements <table> and a <tbody>
        var tbl     = document.createElement("table");
        var tblBody = document.createElement("tbody");

        // cells creation
        for (var j = 0; j <= 2; j++) {
            // table row creation
            var row = document.createElement("tr");

            for (var i = 0; i < 4; i++) {
                // create element <td> and text node 
                //Make text node the contents of <td> element
                // put <td> at end of the table row
             var cell = document.createElement("td");    
                  var cellText = document.createTextNode(product.name); 

                cell.appendChild(cellText);
                row.appendChild(cell);
            }

            //row added to end of table body
            tblBody.appendChild(row);
        }

        // append the <tbody> inside the <table>
        tbl.appendChild(tblBody);
        // put <table> in the <body>
        body.appendChild(tbl);
        // tbl border attribute to 
        tbl.setAttribute("border", "2");
        })

        document.body.appendChild(productList)
    })
}
</script>